{:deps {nextjournal/clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "cf7ac2338e3ab33996a5d88484e2a5bc28b2fe36"}}
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.11"}}}}}
